.ProductActions {
    @include mobile {
        background: var(--header-background);
    }

    &-NameAndPrice {
        @include mobile {
            display: flex;
        }
    }

    &-Name {
        @include mobile {
            text-align: right;
            text-transform: uppercase;
            flex: 4 1;
        }
    }

    &-Price {
        @include mobile {
            flex: 3 1;
            font-size: 13px;
            order: 3;
            padding: 0;
        }
    }

    &-Price + &-Section_type_short {
        margin-top: 0;
    }

    &-Attributes {
        @include mobile {
            border-top: none;
        }
    }

    &-Section {
        &_type {
            &_name {
                @include mobile {
                    display: block;
                    margin: 0;
                    order: 2;
                    padding: 0;
                }
            }
            &_short {
                @include mobile {
                    border-bottom: 0;
                    margin: 8px;
                    order: 6;
                    padding: 0;
                }
            }
        }
    }

    &-Title {
        @include mobile {
            font-size: 1rem;
            font-weight: lighter;
            text-transform: uppercase;
        }
    }

    &-ShortDescription {
        order: 6;
    }

    &-AddToCartWrapper {
        @include mobile {
            border-top: none;
            order: 4;
            padding: 1rem 0;
            position: static;
        }
    }

    &-AttributesWrapper {
        @include mobile {
            order: 8;
        }
    }

}