**/node_modules/
**/Magento_Theme/
opt/*
src/*
!src/app
src/app/etc/env.php
src/app/etc/NonComposerComponentRegistration.php
src/app/etc/db_schema.xml
src/app/etc/di.xml
src/app/etc/registration_globlist.php
src/app/etc/vendor_path.php
src/app/.htaccess
src/app/autoload.php
src/app/bootstrap.php
src/app/functions.php
!src/composer.*
!.gitignore
!**/.gitkeep
