:root {
    --my-account-content-background: #{$white};

    @include after-mobile {
        --my-account-background: var(--secondary-base-color);
    }
}

.MyAccount {
    background: var(--my-account-background);

    &-Wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 0;
        padding: var(--page-padding);
        margin-top: 70px;

        @include mobile {
            padding: 0;
            grid-template-columns: 1fr;
            margin-top: 50px;
        }
    }

    &-TabContent {
        background: var(--my-account-content-background);
        padding: var(--page-padding-mobile);

        @include after-mobile {
            grid-row: span 2;
            padding: 2rem;
            padding-right: 0;
        }
    }

    &-Heading {
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        margin: 0 0 2rem;
        font-family: "Roboto", sans-serif;

        @include mobile {
            display: none;
        }
    }

    .MyAccountTabList {
        margin-top: 10px;

        &-ExpandableContentHeading {
            padding-left: 15px;
            font-family: "Roboto", sans-serif;
        }

        &-ExpandableContentButton {
            &::after {
                right: 18px;
            }
        }
    }

    &-Button,
    button {
        @include mobile {
            width: 100%;
        }
    }

    .MyAccountCustomerTable {
        th {
            padding-left: 0;
        }

        td {
            padding-right: 0;
        }

        th,
        td {
            font-size: var(--font-size);
        }
    }

    .MyAccountTabListItem {
        &-Button {
            padding: 10px 2rem 10px 0;

            &::after {
                @include mobile {
                    content: none;
                }
            }
        }
    }

    .MyAccountNewsletterSubscription {
        font-weight: normal;
        margin: 15px 0;

        .Field {
            align-items: center;

            &-Label {
                font-weight: normal;
                font-size: var(--font-size);
                padding: 0;
            }
        }
    }

    .MyAccountMyOrders {
        .MyAccountMyOrders-Table {
            td {
                font-size: var(--font-size);
            }
        }
    }

    th,
    p,
    td {
        font-size: var(--font-size);
    }
}
