:root {
    --cart-item-bottom-border-color: #dedede;
}

.CartItem {
    &-Wrapper {
        grid-template-columns: 110px auto;

        &::after {
            @include mobile {
                content: unset;
            }
        }

        &_isLikeTable {
            @include after-mobile {
                padding-left: 0;
            }
        }
    }

    &-Content {
        flex-direction: column;
        align-items: initial;
        padding: 0;

        &_isLikeTable {
            @include after-mobile {
                align-content: flex-start;
                flex-direction: initial;
                height: 100%;
            }
        }
    }

    &-Price {
        font-size: 14px;
        text-align: left;
        flex: 1;
        display: flex;
        align-items: flex-end;

        @include after-mobile {
            font-size: 15px;
        }

        &_isLikeTable {
            @include after-mobile {
                width: auto;
                bottom: unset;
            }
        }
    }

    &-Options {
        line-height: 1;

        @include mobile {
            margin-top: 10px;
        }

        &_isLikeTable {
            @include after-mobile {
                margin-top: 10px;
            }
        }
    }

    &-Option {
        border: none;
        padding: 0;
        font-size: 14px;
        text-transform: none;
        color: inherit;
    }

    &-QtyWrapper {
        align-items: center;
        display: flex;
        margin-top: 10px;

        &_isLikeTable {
            @include after-mobile {
                display: none;
            }
        }
    }

    &-Picture {
        height: 160px;

        img {
            object-fit: cover;
        }
    }

    &-Heading {
        flex-grow: initial;
    }

    .CartItem-Qty {
        button {
            height: 20px;
            width: 20px;
            font-size: 20px;

            span {
                top: 0;
            }
        }

        input {
            font-size: 14px;
            height: 20px;
            min-height: unset;
        }

        &_isLikeTable {
            button {
                @include after-mobile {
                    height: 30px;
                    width: 30px;
                }
            }

            input {
                font-size: 16px;
                height: 30px;
            }
        }
    }

    &-QtyTitle {
        font-size: 14px;
        margin-right: 10px;
    }

    &-MobileDelete {
        padding: 0;
        height: 30px;
        width: 30px;
        padding: 9px;
        position: absolute;
        right: calc(1rem - 9px);
        top: calc(1rem - 9px);
        z-index: 20;

        &::before,
        &::after {
            content: none;
        }

        &_isLikeTable {
            display: none;

            @include mobile{
                display: block;
            }
        }
    }

    &-Delete {
        @include mobile {
            display: none;
        }
    }

    &-Actions {
        @include mobile {
            display: none;
        }

        &_isLikeTable {
            @include after-mobile {
                margin: 0;
                bottom: unset;
                top: 1rem;
            }
        }

        &_isEditing {
            @include tablet {
                height: 100%;
            }
        }
    }

    &-ReturnRuleWrapper {
        width: 100%;

        @include mobile {
            display: none;
        }

        &_isMobile {
            display: block;
            width: auto;
            margin: 0 15px 15px;
            border: solid 2px #0f0e0e;
            padding: 10px 15px;

            @include after-mobile {
                display: none;
            }
        }
    }

    &-ReturnRule {
        line-height: 1;
        display: block;

        &:not(:first-child) {
            margin-top: 10px;
        }

        @include after-mobile {
            margin-top: 10px;
        }
    }

    &-ReturnRuleTitle {
        font-size: var(--font-size);
        font-weight: bold;
    }
}
