.HomePage {
    position: absolute;
    width: 100vw;
    height: 100vh;

    .CmsPage {
        &,
        &-Wrapper {
            margin-bottom: 0;
        }
    }

    &-Slide {
        height: 100%;
    }

    &-VerticalSlider {
        height: 100vh;
    }

    &-SliderSwitchArrow {
        position: fixed;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
        width: 30px;
        height: 30px;
        padding: 5px;
        transition: 500ms;

        @include after-mobile {
            bottom: 1.5%;
        }

        &_isUpside {
            transform: translateX(-50%) rotate(90deg);
        }
    }

    .SliderWidget {
        &-Figure {
            height: 100vh;
        }

        &-FigureImage {
            height: 100%
        }
    }

    &-SlideContent {
        text-align: center;
        color: #FFF;
    }

    &-SlideTitle {
        line-height: 1;
        font-size: 40px;
        width: 90%;
        margin: auto;
        max-width: 350px;

        @include after-mobile {
            font-size: 70px;
            max-width: unset;
        }
    }

    &-SlideSubTitle {
        font-size: 30px;
        line-height: 1;
        font-size: 20px;
        width: 80%;
        margin: 5px auto 15px;
        max-width: 350px;

        @include after-mobile {
            max-width: 550px;
            font-size: 22px;
            margin: 10px auto 20px;
        }
    }

    &-SlideButton {
        color: #FFF;
        border-color: #FFF;
    }
}
