<?xml version="1.0"?>
<!--
/**
 * @category    Karmia
 * @package     Karmia_PersistedQuery
 * @author      Kalvis Ostrovskis <info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Scandiweb\Slider\Block\Adminhtml\Slide\Edit\Tab\Slide"
               type="WGB\Slider\Block\Adminhtml\Slide\Edit\Tab\Slide"/>
</config>
