.ProductGallery {
    &-Slider {
        @include mobile {
            min-height: var(--slider-height);
            width: 100vw;
        }
    }

    &-SliderImage {
        img {
            object-fit: cover;
        }
    }
}