.MyAccountReturnDetailsChat {
    .amrma-attach {
        display: none;
    }

    &-Title {
        text-transform: none;
        font-weight: normal;
        font-family: var(--font-roboto);
        line-height: 1;
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 20px;

        @include after-mobile {
            font-size: 20px;
            margin-top: 45px;
        }
    }

    &-ContentWrapper {
        background-color: #f9f9f9;
        padding: 20px 10px 10px;

        @include after-mobile {
            padding: 35px 25px 20px;
        }

        span {
            line-height: 1;
        }
    }

    &-InputSectionWrapper {
        background-color: #FFF;
        padding: 20px;
        display: flex;
        margin-top: 35px;
        align-items: center;

        button {
            @include mobile {
                width: auto;
            }
        }
    }

    &-InputSectionTextArea {
        flex: 1;
        margin: 0 25px;
        width: 100%;
        border-color: #FFF;
        font-size: 20px;
        padding: 0;
        height: 100%;

        &::placeholder {
            color: #b0adad;
            font-size: 20px;
        }

        &:focus {
            border-color: #FFF;
        }
    }

    &-AttachmentWrapper {
        margin-top: 20px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
            height: 20px;
            width: 20px;
        }
    }

    &-Attachment {
        font-weight: bold;
    }

    &-AttachmentRemoveButton {
        width: 20px;
        padding: 0 5px;
        margin-right: 10px;

        svg {
            height: unset;
            width: unset;
            margin: 0;
        }
    }
}
