.MyAccountReturnDetailsRating {
    &-MainWrapper {
        max-width: 600px;
        margin: auto;
        // border: solid 2px #0f0e0e;
        padding: 25px;
        text-align: center;
        margin-bottom: 35px;

        button {
            width: auto;
        }
    }

    &-Title {
        text-transform: none;
        font-weight: normal;
        font-family: var(--font-roboto);
        line-height: 1;
        font-size: 17px;
        margin-bottom: 10px;
    }

    &-Stars {
        direction: rtl;
        margin-bottom: 30px;
    }

    &-Star {
        --star-outline-color: var(--secondary-dark-color);

        // reset from input default styles
        display: inline;
        margin: 0;
        padding: 0;
        background: none;
        border: 0;

        transition: color 150ms ease-in;
        color: $white;
        text-shadow:
            -1px 0 var(--star-outline-color),
            0 1px var(--star-outline-color),
            1px 0 var(--star-outline-color),
            0 -1px var(--star-outline-color);

        font-size: 40px;
        line-height: 1;
        /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
        font-family: Times; // make sure ★ appears correctly
        letter-spacing: 3px;

        &::after {
            content: '★';
            font-family: serif;
        }

        &_isChecked,
        &_enabled:hover,
        &_enabled:hover ~ * {
            --star-outline-color: var(--primary-base-color);

            color: var(--primary-base-color);
        }

        &:focus {
            border: 0;
        }
    }

    &-ActionWrapper {
        display: flex;

        @include mobile {
            flex-direction: column;
        }
    }

    &-CommentField {
        margin: 0 0 10px;
        flex: 1;

        @include after-mobile {
            margin: 0 10px 0 0;
        }

        input {
            width: 100%;
            margin: 0;
            background-color: #f1f1f0;
            border: #f1f1f0;

            &:focus {
                border: #f1f1f0;
            }

            &::placeholder {
                color: #b0adad;
                font-size: var(--font-size);
            }
        }
    }
}