.MyAccountNewReturn {
    &-CustomerAndAddressBlocks {
        display: flex;

        @include before-desktop {
            flex-direction: column;
        }

        > * {
            @include desktop {
                flex: 1;
            }
        }
    }

    &-Actions {
        margin-top: 20px;

        @include before-desktop {
            display: flex;
        }

        @include desktop {
            margin-top: 20px;
        }

        button {
            &:first-of-type {
                margin-right: 10px;

                @include before-desktop {
                    flex: 1
                }

                @include desktop {
                    margin-right: 20px;
                    width: 100%;
                    max-width: 350px;
                }
            }

            &:last-of-type {
                @include before-desktop {
                    width: max-content;
                }
            }
        }
    }

    &-BankDetailField {
        margin: 0;

        input {
            margin-top: 16px;
            width: 100%;

            @include desktop {
                max-width: 350px;
            }
        }
    }

    &-BankDetailTitle {
        text-transform: none;
        font-weight: normal;
        font-family: var(--font-roboto);
        margin-top: 20px;

        @include desktop {
            margin-top: 45px;
        }
    }
}