:root {
    --social-login-provider-backgrdoun-color: var(--primary-base-color);
    --social-login-provider-hover-background-color: var(--primary-light-color);
}

.MyAccountOverlay {
    justify-self: flex-end;
    grid-column: 3;
    right: 0;
    padding-top: 1rem;

    &-Header {
        h2 {
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 20px;
            padding-bottom: 34px;
        }
    }

    &-Buttons {
        margin: unset;
    }

    @include after-mobile {
        position: absolute;
        top: var(--header-nav-height);
        right: -35px;
        padding: 0;
    }

    &_isVisible {
        top: var(--header-overlay-offset-top);
    }

    &-Additional {
        padding: 21px 15px 35px 15px;

        h4 {
            text-align: left;
            margin-bottom: 20px;
        }

        .Button {
            margin-top: 0;
        }
    }

    .Form {
        &-Header {
            text-align: left;
            margin: 0 15px;
        }
    }

    &-SocialButtons {
        display: flex;
        justify-content: space-evenly;
        padding-top: 1.5rem
    }

    &-Provider {
        background-color: var(--social-login-provider-backgrdoun-color);
        height: 40px;
        width: 100%;
        margin-bottom: 20px;

        &_loading {
            background: var(--image-default-background);
            animation: var(--placeholder-animation);
            background-image: var(--placeholder-image);
            background-size: var(--placeholder-size);
        }

        &:hover {
            background-color: var(--social-login-provider-hover-background-color);
        }

        img {
            transform: scale(0.7);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                line-height: 40px;
                margin: auto;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: -0.38px;
                color: #fff;
            }
        }
    }

    &-Social {
        padding: 0 15px;

        h4 {
            text-align: left;
            margin-bottom: 20px;
        }
    }

    &-facebook {
        border: solid 1px #3c5a9a;
        background-color: #3c5a9a;
    }

    &-google {
        background-color: #df4c3a;
    }
}

    .Button {
        &-Forgot {
            margin: 14px 0 0;
            &_likeLink {
                text-decoration: underline;
                text-align: left;
                font-size: 13px;
                letter-spacing: -0.33px;
                color: #888888;
            }
        }
    }
