.ProductWishlistButton {
    width: 20px;

    @include after-mobile {
        // TODO figure out without important
        display: inline-flex !important;
        margin-left: 1.5rem;
    }

    &_isInWishlist {
        // TODO figure out without important
        background-color: #FFF !important;
    }

    &.Button {
        --button-hover-border: none;
        --button-hover-background: none;
        --button-hover-color: none;

        border-style: hidden;
    }
}