<?xml version="1.0"?>
<!-- 
/**
 * Technodom_StoreFinderGraphQl
 *
 * @category    Technodom
 * @package     Technodom_StoreFinderGraphQl
 * @author      Ivars Dicpeteris <info@scandiweb.com>
 * @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Technodom_StoreFinderGraphQl">
        <sequence>
            <module name="Technodom_StoreFinder"/>
        </sequence>
    </module>
</config>
