$white: #FFFFFF;
$black: #070707;
$orange: #F1581B;
$grey: #CACACA;
$default-primary-base-color: $black;
$default-primary-dark-color: $orange;
$default-primary-light-color: $grey;
$default-secondary-base-color: $white;
$default-secondary-dark-color: $grey;
$default-secondary-light-color: $white;
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-standard-size: 12px;
$font-mobile-size: 14px;

:root {
    --font-roboto: $font-roboto;
    --font-oswald: $font-oswald;

    --primary-color-grey: #979797;
}
