.Header_name_favorites {
    background-color: #ffffff
}

.MyAccountMyWishlist {

    &-Title {
        font-size: 20px;
        font-family: 'Roboto-Bold', sans-serif;
        font-weight: 700;
        text-align: center;
        padding: 63px 0 13px 0px;

        @include after-mobile {
            font-size: 40px;

            &::after {
                content:" / SAVED ITEMS";
            }
        }
    }
}