<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="WGB\GeoIpGraphQL\Model\Resolver\Geoiplocation">
        <arguments>
            <argument name="geolocation" xsi:type="object" >\Amasty\Geoip\Model\Geolocation</argument>
        </arguments>
    </type>
</config>
