@mixin expanded-content {
    padding: 1rem;
    opacity: 1;
    max-height: 100%;
}


.ProductPage {
    @include after-mobile {
        display: flex;
    }

    &-Category {
        text-decoration: underline;
    }

    &-Header {
        @include after-mobile {
            display: none;
        }
        @include mobile {
            height: var(--header-height);
            display: flex;
            align-items: center;

            a {
                text-transform: uppercase;
            }
        }
    }

    &-GoBack {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        svg {
            flex: 1 1;
        }

        p {
            flex: 5 1;
        }
    }

    &-Wrapper {
        width: 850px;
    }

    .ProductContentWrapper {
        .ExpandableContent {
            &-Button {
                &::after,
                &::before {
                    content: '';
                }
            }

            &-Content {
                padding: 0 1rem;
                max-height: 0;
                overflow: hidden;
                opacity: 0;

                &_isContentExpanded {
                    @include expanded-content;
                }
            }

            &-Heading {
                @include after-mobile {
                    cursor: auto;
                    font-size: 13px;
                    font-weight: bold;
                    text-transform: none;
                }
            }
        }
    }
}