:root {
    --header-default-background: #fff;
    --header-background: var(--header-default-background);
    --header-color: #000;
    --header-search-field-background: var(--secondary-base-color);
    --header-search-field-visible-background: #fff;
    --header-search-field-color: #6e6e6e;
    --header-search-clear-background: #838383;
    --header-search-field-border-color: var(--primary-light-color);
    --header-desktop-search-bar-width: 270px;
    --header-desktop-search-bar-max-width: 450px;
    --header-desktop-button-color: #f26323;
    --header-height: 50px;
    --header-nav-height: 50px;
    --header-logo-width: 200px;
    --header-logo-height: calc(var(--header-height) - 30px);
    --header-icons-white-color: #FFF;
    --header-icons-black-color: #000;
    --header-icons-white-transition: 300ms;

    --navigation-tabs-background: var(--secondary-light-color);

    @include tablet {
        --header-desktop-search-bar-width: 200px;
    }

    @include after-mobile {
        --header-height: 60px;
        --header-nav-height: 60px;
        --header-logo-height: calc(var(--header-height) - 35px);
    }
}

@mixin button-invisible {
    opacity: 0;
    padding: 0;
    width: 0;
    pointer-events: none;
    overflow: hidden;
}

@mixin button-visible {
    opacity: 1;
    padding: 15px 10px;
    width: 40px;
    height: var(--header-height);
    pointer-events: all;
    overflow: visible;

    @include after-mobile {
        width: 60px;
        padding: 20px;
    }
}

@mixin search-bar-visible {
    opacity: 1;
    border-color: transparent;
    border-width: 1px;
    padding: {
        top: 4px;
        bottom: 5px;
        left: 10px;
    };

    @include mobile {
        max-width: 100%;
    }
}

@mixin logo-visible {
    opacity: 1;
    max-width: 100%;
}

@mixin search-icon-input {
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 10px;
        height: 10px;
        border: 1px solid var(--header-search-field-color);
        border-radius: 50%;
        top: 7px;
        right: 17px;
        box-shadow:
            4px 4px 0 -5px var(--header-search-field-color),
            5px 5px 0 -5px var(--header-search-field-color),
            6px 6px 0 -5px var(--header-search-field-color),
            7px 7px 0 -5px var(--header-search-field-color),
            8px 8px 0 -5px var(--header-search-field-color);
    }
}

.Header {
    --header-background: transparent;
    --header-icon-stroke-width: 2px;
    --filter-button-margin: 20px;
    --filter-button-opacity: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--header-background);
    padding-top: env(safe-area-inset-top);

    @include after-mobile {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        transition: background 400ms ease-in-out, padding 400ms ease-out;
    }

    & > * {
        width: 100%;
    }

    &-Filter {
        margin: auto;
        display: none;
        justify-content: flex-end;
        max-width: var(--content-wrapper-width);

        &-Button {
            font-size: 15px;
            text-transform: uppercase;
            margin-right: var(--filter-button-margin);
            opacity: var(--filter-button-opacity);
            transition: margin-right, opacity 300ms, 300ms ease-in-out;

            &::after,
            &::before {
                content: '';
                position: absolute;
                height: 7px;
                width: 1px;
                background-color: black;
                left: -8px;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            &::before {
                transform-origin: 50% 50%;
                transform: scale(1);
                transition: 200ms transform;
                will-change: transform;
            }

            &::after {
                transform-origin: 50% 50%;
                transform: rotate(90deg);
            }
        }

        @include mobile {
            display: none;
        }
    }

    &_name {
        &_favorites,
        &_contact-us,
        &_sign-in,
        &_stores,
        &_stores_sub {
            --header-background: var(--header-default-background);
        }

        &_category,
        &_filter,
        &_menu {
            &.Header_isCategory {
                @include after-mobile {
                    padding-bottom: 10px;

                    .Header-Filter {
                        display: flex;
                        height: 17px;

                        &-Button {
                            &_isFilterEmpty {
                                display: none;
                            }
                        }
                    }

                }
            }

            &.Header_isSearch {
                .Header {
                    &-LogoWrapper {
                        @include logo-visible;
                    }
                }
            }
        }

        &_category,
        &_filter {
            @include mobile {
                --header-background: var(--header-default-background);
            }

            @include after-mobile {
                &:hover {
                    --header-background: white;
                    transition: background 400ms ease-in-out, padding 0s ease-in-out;
                }
            }
        }

        &_cart {
            --header-background: var(--header-default-background);

            .Header-Button_type_minicart {
                @include after-mobile {
                    --header-color: var(--header-desktop-button-color);
                }
            }
        }

        &_search {
            @include after-mobile {
                --header-desktop-search-bar-width: calc(50% - 100px);
            }

            .Header {
                &-SearchBar {
                   @include after-mobile {
                        border: 1px solid var(--header-search-field-border-color);
                        background-color: var(--header-search-field-visible-background);
                    }
                }
            }
        }

        &_menu_subcategory {
            .Header-Button_type {
                &_close {
                    @include after-mobile {
                        @include button-visible;
                    }
                }

                &_menu {
                    @include after-mobile {
                        @include button-invisible;
                    }
                }
            }
        }

        &_customer_account {
            .Header-Button_type_account {
                @include after-mobile {
                    --header-color: var(--header-desktop-button-color);
                }
            }
        }

        &_checkout {
            --header-background: var(--header-default-background);

            .Header-Button,
            .Header-SearchWrapper {
                @include after-mobile {
                    display: none;
                }
            }

            .Header-Title {
                font-weight: bold;
            }
        }

        &_filter {
            --filter-button-margin: 268px;
            --filter-button-opacity: 0;
            --header-background: var(--header-default-background);

            opacity: 1;

            .Header-Filter-Button {
                &::before {
                    transform: scale(0);
                }
            }
        }

        &_pdp {
            .Header-NotTransparentPart {
                // Not transparent right part of header only for desktop
                @include after-mobile {
                    background: #FFF;
                    height: var(--header-height);
                    position: fixed;
                    right: 0;
                    width: 40vw;
                    z-index: -1;
                }
            }
        }

        &_customer_account_page,
        &_cms-page {
            --header-background: var(--header-default-background);

            .Header-Title {
                font-family: var(--font-roboto);
                font-weight: bold;
            }
        }
    }

    &-Banner {
        background: var(--primary-base-color);
        color: $white;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        z-index: 100;

        strong {
            margin-left: 3px;
        }
    }

    &-Nav {
        height: var(--header-nav-height);
        display: flex;
        align-items: center;
        padding: 0px 5px;
        z-index: 20;
        max-width: var(--content-wrapper-width);
        margin: auto;

        @include after-mobile {
            padding: 0;
        }

        &_isWhite {
            .MenuOverlay {
                .Header-LogoWrapper,
                .Header-Button {
                    svg {
                        fill: var(--header-icons-black-color);
                    }
                }
            }

            .Header-LogoWrapper,
            .Header-Button {
                svg {
                    fill: var(--header-icons-white-color);
                }
            }

            .Header-MinicartQty {
                color: var(--header-icons-white-color);
            }
        }

        &_isWhiteBackground {
            background-color: var(--header-default-background);
        }

        svg {
            transition: var(--header-icons-white-transition);
        }
    }

    &-Button {
        @include button-invisible;

        cursor: pointer;
        margin: 0;
        height: 35px;

        &_isVisible {
            @include mobile {
                @include button-visible;
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &_isDisabled {
            pointer-events: none;
            opacity: .1;
        }

        &_type {
            &_menu,
            &_minicart,
            &_wishlist,
            &_searchButton {
                @include after-mobile {
                    @include button-visible;
                }
            }

            &_searchClear {
                @include clear-search-button;
            }

            &_clear {
                @include clear-button;
            }


            &_ok,
            &_cancel {
                font-size: 14px;
                opacity: .5;

                &.Header-Button_isVisible {
                    width: 70px;
                }
            }

            &_searchButton {
                order: -1;

                @include after-mobile {
                    order: 1;
                }
            }

            &_wishlist {
                order: 1;
            }

            &_back {
                &.Header-Button_isVisible {
                    svg {
                        left: -4px;
                    }
                }
            }
        }
    }

    &-SearchWrapper {
        flex-grow: 1;
        margin-left: 5px;

        @include after-mobile {
            text-align: right;
            margin-right: 1rem;
        }
    }

    &-SearchField {
        background-color: var(--header-search-field-background);
        font-size: 16px;
        border-radius: 4px;

        border-width: 0;
        width: 100%;
        max-width: 0;
        min-width: 0;
        opacity: 0;
        padding: 0;
        transition-property: opacity, background-color;
        transition-duration: 200ms;
        will-change: max-width, width, opacity, padding, border, background-color;

        @include after-mobile {
            @include search-bar-visible;

            transition-property: opacity, width, border;
            width: var(--header-desktop-search-bar-width);
            max-width: var(--header-desktop-search-bar-max-width);
            font-size: 14px;
            border-radius: 0;
        }

        &_isVisible {
            @include search-bar-visible;
        }
    }

    &-LogoWrapper {
        position: absolute;
        height: var(--header-logo-height);
        width: var(--header-logo-width);
        max-width: 0;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        opacity: 0;
        overflow: hidden;
        text-align: center;

        transition-property: opacity;
        transition-duration: 200ms;

        @include after-mobile {
            @include logo-visible;
        }

        &_isVisible {
            @include logo-visible;
        }
    }

    &-Title {
        opacity: 0;
        max-width: 0;
        transition-property: opacity;
        transition-duration: 200ms;

        text-align: center;
        font-size: 1.3rem;
        color: var(--header-color);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        pointer-events: none;

        position: absolute;
        margin: auto;
        width: 100%;
        height: 1.5rem;
        line-height: 1.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &_isVisible {
            @include mobile {
                opacity: 1;
                max-width: calc(100% - 180px);
            }
        }
    }

    a {
        &:hover,
        &:focus {
            @include mobile {
                text-decoration: none;
            }
        }
    }

    &-MiniCartWrapper {
        order: 2;

        @include after-mobile {
            order: 3;
        }
    }

    &-MinicartQty {
        position: absolute;
        top: 54%;
        left: 49%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        transition: color var(--header-icons-white-transition);
    }

    &-AccountWrapper {
        @include after-mobile {
            order: 2;
        }
    }

    &-MenuWrapper {
        order: -2;
    }
}
